################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*_intermediate
*.tlog
*.lib
/.vs
*.pdb
*.pch
*.ilk
BuildLog.htm
/heclib7/.vs
/heclib7/heclib_c_v6v7/.vs/heclib_c_v6v7/v15
/heclib7/heclib_c_v6v7/Win32/Debug_intermediate
*.obj
/heclib7/Win32/Debug
/javaShefDssLib/Win32/Debug_intermediate
/javaShefDssLib/x64/Debug_intermediate
/heclib7/heclib_c_v6v7/x64/Debug_intermediate
/heclib7/javaHeclib/x64/Debug_intermediate
/heclib/javaHeclib/x64/Debug/
/heclib/heclib_f_v6v7/x64/*
/heclib7/javaHeclib/Win32/Debug/*
/heclib7/javaHeclib/Win32/Debug/javaHeclib.log
*.obj
*.exe
*.o
*.a
*.so
build.Linux.log
build.Solaris.log
test/C/Output
test/Dss-C/Output
heclib-*.tar
heclib/build.log
build/**
heclib/.vs/
heclib/Win32/
heclib/heclib_c/Win32/
heclib/heclib_c/x64/
heclib/heclib_f_v6v7/.vs/
heclib/heclib_f/heclib_f_v6v7_vs2017.u2d
heclib/heclib_f/x64/
heclib/heclib_karl.sln
heclib/javaHeclib/Win32/
heclib/javaHeclib/javaHeclib_vs2017.vcxproj.user
heclib/javaHeclib/x64/
heclib/x64/
nws_shef/.vs/
nws_shef/Win32/
nws_shef/javaShefDssLib_vs2017.u2d
nws_shef/x64/



heclib/.vs/*
vc*.idb
heclib/heclib_c_v6v7/x64
heclib/heclib_c_v6v7/Win32/Debug_intermediate/
test/chainsaw/x64/
Test.log
HEC-DSSTestApp-v1.0.0.6/*
test/Fortran/x64/*
heclib/heclib_f_v6v7/Win32/*
test/bin
test/chainsaw/chainsaw
/heclib/heclib_c_v6v7/.vs/heclib_c_v6v7/v15
/tools/dssutl/x64/Debug
/tools/dssutl/support_c/x64/Debug_intermediate
tools/dssutl/Output/dssutl
heclib/enc_temp_folder/
/test/Dss-C/x64/Debug
/tools/libGrid/x64/Debug/libGrid.tlog
/tools/libGrid/x64/Debug
/tools/libHecGen/x64/Debug
/tools/gageInterp/.vs/gageInterp/v15
/tools/gageInterp/.vscode
/tools/gageInterp/Backup
/tools/gageInterp/Backup1
/tools/gageInterp/Debug
.vscode
tools/dssutl/dssutl_utility.mod
/test/csharp/RegularTimeSeries/obj/Debug
/test/csharp/RegularTimeSeries/bin/Debug
/doc/~$S_ProgammersGuideForJava.docx
/test/Fortran/.vs/Dss7-Fortran/v15
test/Fortran/Output/Dss-Fortran
test/Fortran/Output/Dss-Fortran
test/Fortran/interop
/test/Fortran/.vs/Dss7-Fortran/v15/.suo
/test/Fortran/Debug
/test/Fortran/Win32/Debug
/tools/dssutl/Debug
/tools/dssutl/support_c/Win32/Debug_intermediate/support_c.tlog
/tools/dssutl/support_c/Win32/Debug_intermediate/support_c.log
/test/csharp/RegularTimeSeries/obj/Release
/tools/dssutl/support_c/Win32/Debug_intermediate
/heclib/javaHeclib/version.aps
/test/Fortran/Dss7-Fortran.u2d
/tools/dssutl/dssutl.u2d
/heclib/VB_interface/x64
/heclib/VB_interface/heclib7dll.u2d
/heclib/VB_interface/Win32
/heclib/VB_interface/TestVB/obj
/heclib/Debug
*.user
/heclib/grid/Debug
/heclib/grid/x64/Debug
/jar - Copy
/test/.idea
/heclib/grid/Win32/Debug/intermediate
/test/Java/.idea
/heclib/grid/x64/Release
/heclib/VB_interface/TestVB/bin/Release
/tools/dssutl/Release
/tools/dssutl/x64/Release
/heclib/grid/Win32/Release/intermediate
/heclib/grid/Win32/Debug_intermediate
/heclib/grid/x64/Debug_intermediate

/heclib/VB_interface/heclib.dll.u2d
/heclib/VB_interface/TestVB/obj/x64/Debug
/heclib/VB_interface/TestVB/bin/x64/Debug
/test/Dss-C/x64/Release
/x64/Release
/dss_karl.sln
/nws_shef/javaShefDssLib.u2d
/.idea
/test/Java/out
*.suo
/test/Java/src/.idea
fort.8
/jar/*.jar
*.jar
/dss-test-data
test/VB/obj/*
test/VB/bin/*
*.dll

packages/
/heclib/hecdss/x64/Debug
