name: macOS
on: [workflow_dispatch]
jobs:
  build:
    runs-on: macos-11
    # commend
    env:
      GFORTRAN_PATH: "/usr/local/opt/gcc/lib/gcc/11"
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Checkout tools repo
        uses: actions/checkout@v2
        with:
          repository: HydrologicEngineeringCenter/dss-test-data
          path: dss-test-data

      - name: build main library
        run: |
          sudo ln -s /usr/local/bin/gfortran-11 /usr/local/bin/gfortran
          cd heclib
          make
          
